/.qmake.stash
/Makefile
/Makefile.Debug
/Makefile.Release
/build/
/release/
/freakchain_plugin_import.cpp
*.bak
/src/FreakChaind
/src/test_freakchain
/src/obj/
/src/leveldb/*.a
/src/leveldb/*.o
/src/leveldb/*.so*
/src/leveldb/build_config.mk
/src/leveldb/port/*.o
/src/leveldb/db/*.o
/src/leveldb/table/*.o
/src/leveldb/util/*.o
/src/leveldb/helpers/memenv/*.o
__pycache__/
